/* tags */
pre {
    border-radius: 10px !important;
}

figcaption {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

/* header */
#header {
	height: 58px;
}

#header a, #header a:visited {
    white-space: nowrap;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease;
	color: #fff;
	position: relative;
}

#header a:hover {
    color: #38b7ea;
    position: relative;
}

/* outer */
.outer {
    margin: 0 auto;
}

.outer:before, .outer:after {
    content: "";
    display: table;
}

.outer:after {
    clear: both;
}

/* container */
.container-fluid {
    width: 980px;
    padding-top: 7px;
}

#body {
    border-bottom: 1px solid #ccc;
}

#body>.outer {
    width: 980px;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* navbar */
.navbar-default {
    background-color: #333;
    border-color: none;
}

.navbar-toggle {
    border: 0px solid transparent;
    border-radius: 0px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, .5);
}

/* footer */
.footer {
    color: #999;
    min-height: 50px;
    text-align: center;
    margin: 20px auto;
}

.footer span.with-love {
    display: inline-block;
    margin: 0 5px;
}

/* article */
.article-inner {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding-left: 15px;
    padding-right: 15px;
}

.article-header {
    padding: 5px 5px 0;
}

.article-header .article-title {
    font-size: 30px;
}

.article-meta {
    font-size: 15px;
	min-height: 28px;
}

.article-meta:after {
    clear: both;
}

.article-meta a {
    color: #9a9ea3;
}

.article-meta a:hover {
    color: rgba(154, 158, 163, 0.8);
}

.article-meta .article-date, .article-meta .article-category {
    margin-right: 15px;
    color: #9a9ea3;
}
.article-meta .article-date {
    float: right;
}
.article-meta .article-category{
    float: left;
}

.article-body {
    padding-bottom: 15px;
}

.article-body h1, .article-body h2, .article-body h3, .article-body h4, .article-body h5, .article-body h6 {
    font-weight: bold;
    line-height: 1.1em;
    margin: 1.1em 0;
}

.article-body h1{
    font-size: 2em;
}

.article-body h2 {
    font-size: 1.5em;
}

.article-body h3 {
    font-size: 1.3em;
}

.article-body h4 {
    font-size: 1.2em;
}

.article-body h5 {
    font-size: 1em;
}

.article-body h6 {
    font-size: 1em;
    color: #999;
}

.article-body p {
    line-height: 1.6em;
    margin: 1.0em 0;
    font-size: 16px;
}

.article-body ol, .article-body ul {
	line-height:1.6em;
}

.article-footer {
    font-size: 0.85em;
    font-weight: 500;
    line-height: 1.6em;
    border-top: 1px solid #eceff2;
    padding-top: 1.6em;
    margin: 0 20px 20px;
}

.article-footer:before, .article-footer:after {
    content: "";
    display: table;
}

.article-footer:after {
    clear: both;
}

.article-footer a {
    color: #999;
    text-decoration: none;
}

.article-footer a:hover {
    color: #565a5f;
}

.article-nav-caption {
    letter-spacing: 2px;
    color: #565a5f;
}

.article-nav-title {
    font-size: 0.85em;
    line-height: 1.6em;
    margin-top: 0.5em;
}

/* google-map */
#map {
    width: 90%;
	padding-top: 20px;
    padding-bottom: 75%;
	margin: 0px auto;
}

/* authors */
.author-list {
    padding-top: 20px;
    padding-bottom: 20px;
}
.author-list img {
    width: 100%;
}

.author-list .col-xs-6, .author-list .col-md-2 {
    padding-bottom: 20px;
}

.author-list .author-name {
	text-align: center;
	padding-top: 10px;
}

.author-list .author-info .fa {
	text-align: center;
}


/* nav-tabs */
ul.nav.nav-tabs {
    padding: 0 15px;
}

.tab-content {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
}

/* notices */
div.notices {
    margin: 2rem 0;
    position: relative;
}
div.notices p {
    padding: 15px;
    display: block;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #666;
    border-radius: 10px;
}
div.notices p:first-child:before {
    position: absolute;
    top: 2px;
    color: #fff;
    font-family: FontAwesome;
    content: '';
    left: 10px;
}
div.notices p:first-child:after {
    position: absolute;
    top: 2px;
    color: #fff;
    left: 3rem;
}
div.notices.info p {
    border-top: 30px solid #F0B37E;
    background: #FFF2DB;
}
div.notices.info p:first-child:after {
    content: 'Info';
}
div.notices.warning p {
    border-top: 30px solid rgba(217, 83, 79, 0.8);
    background: #FAE2E2;
}
div.notices.warning p:first-child:after {
    content: 'Warning';
}
div.notices.note p {
    border-top: 30px solid #6AB0DE;
    background: #E7F2FA;
}
div.notices.note p:first-child:after {
    content: 'Note';
}
div.notices.tip p {
    border-top: 30px solid rgba(92, 184, 92, 0.8);
    background: #E6F9E6;
}
div.notices.tip p:first-child:after {
    content: 'Tip';
}

code + .copy-to-clipboard {
    margin-left: -1px;
    border-left: 0 !important;
    font-size: inherit !important;
    vertical-align: middle;
    height: 21px;
    top: 0;
}

.copy-to-clipboard {
    background-image: url(../images/clippy.svg);
    background-position: 50% 50%;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    width: 27px;
    height: 1.45rem;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: #5e5e5e;
    background-color: #FFF7DD;
    margin-left: -.2rem;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    margin-bottom: 1px;
}
.copy-to-clipboard:hover {
    background-color: #E8E2CD;
}
pre .copy-to-clipboard {
    position: absolute;
    right: 4px;
    top: 4px;
    color: #ccc;
    border-radius: 2px;
}
pre .copy-to-clipboard:hover {
    color: #fff;
}

.tooltipped {
    position: relative;
}
.tooltipped:after {
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 5px 8px;
    font: normal normal 11px/1.5 "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    -webkit-font-smoothing: subpixel-antialiased;
}
.tooltipped:before {
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
    content: "";
    border: 5px solid transparent;
}
.tooltipped:hover:before, .tooltipped:hover:after, .tooltipped:active:before, .tooltipped:active:after, .tooltipped:focus:before, .tooltipped:focus:after {
    display: inline-block;
    text-decoration: none;
}
.tooltipped-s:after, .tooltipped-se:after, .tooltipped-sw:after {
    top: 100%;
    right: 50%;
    margin-top: 5px;
}
.tooltipped-s:before, .tooltipped-se:before, .tooltipped-sw:before {
    top: auto;
    right: 50%;
    bottom: -5px;
    margin-right: -5px;
    border-bottom-color: rgba(0, 0, 0, 0.8);
}
.tooltipped-se:after {
    right: auto;
    left: 50%;
    margin-left: -15px;
}
.tooltipped-sw:after {
    margin-right: -15px;
}
.tooltipped-n:after, .tooltipped-ne:after, .tooltipped-nw:after {
    right: 50%;
    bottom: 100%;
    margin-bottom: 5px;
}
.tooltipped-n:before, .tooltipped-ne:before, .tooltipped-nw:before {
    top: -5px;
    right: 50%;
    bottom: auto;
    margin-right: -5px;
    border-top-color: rgba(0, 0, 0, 0.8);
}
.tooltipped-ne:after {
    right: auto;
    left: 50%;
    margin-left: -15px;
}
.tooltipped-nw:after {
    margin-right: -15px;
}
.tooltipped-s:after, .tooltipped-n:after {
    transform: translateX(50%);
}
.tooltipped-w:after {
    right: 100%;
    bottom: 50%;
    margin-right: 5px;
    transform: translateY(50%);
}
.tooltipped-w:before {
    top: 50%;
    bottom: 50%;
    left: -5px;
    margin-top: -5px;
    border-left-color: rgba(0, 0, 0, 0.8);
}
.tooltipped-e:after {
    bottom: 50%;
    left: 100%;
    margin-left: 5px;
    transform: translateY(50%);
}
.tooltipped-e:before {
    top: 50%;
    right: -5px;
    bottom: 50%;
    margin-top: -5px;
    border-right-color: rgba(0, 0, 0, 0.8);
}
