<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-US" }}">
<head>
  {{ partial "header" . }}
</head>

<body>
  <div class="container">
    {{ partial "navbar" . }}
    <div id="body">
        <div class="outer">

        {{ block "main" . }} {{ end }}
        </div>
<div id="gitalk-container"></div>
</div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script type="text/javascript">
      var gitalk = new Gitalk({
        clientID: '17316460da3495d12337',
        clientSecret: '408cbf5398aa9eba8cef8d028fded53adbc19af3',
        repo: 'gitalk',
        owner: 'gmt-china',
        admin: ['zhaozhiyuan1989','cehui07226','NothingIsBig','seisman','SeisPider','wangliang1989'],
      });
      gitalk.render('gitalk-container');
 </script>
    </div>
    {{ partial "footer" . }}
  </div>

</body>
</html>
