{{ define "main" }}
<section id="main">
    <section class="archives-wrap">
        <h1>{{ .Title }}</h1>

        {{ $paginator := .Paginate .Data.Pages }}
        {{ range $paginator.Pages }}
        <article class="article article-type-post" itemscope="" itemprop="blogPost">
            <div class="article-inner">
                {{ partial "article_header" . }}
            </div>
        </article>
        {{ end }}
    </section>
    {{ template "_internal/pagination.html" . }}
</section>
{{ end }}
