#umap {
  height: 450px;
  width: 100%;
}

.gmt-code-tab {
  display: block;
  padding: 0rem 0.5rem;
  border: 1px solid transparent;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.gmt-code-tab.disabled {
    color: #000000;
    background-color: transparent;
    border-color: transparent;
}

.gmt-code-tab.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

figcaption {
    text-align: center;
}
