{{ define "main" }}
<section id="main">
    <div class="row">
        <div class="col-md-6">
            <article>
                <div class="article-inner">
                    <div class="article-body" itemprop="articleBody">
                    {{ .Content }}
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-6">
            <h4 class="article-title" itemprop="name">{{ with .Site.Data.l10n.global.recent_articles}}{{.}}{{end}}</h4>
            <ul>
            {{ range first 6 .Data.Pages }}
            <li>
                <h5>
                <time datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format .Site.Params.date_format }}</time>
                <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
                </h5>
            </li>
            {{ end }}
            </ul>
        </div>
    </div>
</section>
{{ end }}
