{{ partial "header" . }}

<body>
    <div class="container">
        {{ partial "navbar" . }}

        <div id="body">
            <div class="outer">
                <section id="main">
                    <article>
                        <div class="article-inner">
                            {{ partial "article_header" . }}
                            <div class="article-body" itemprop="articleBody">
                                {{ .Content }}
                            </div>
                        </div>
                    </article>

                    <div class="gallery">
                        {{ $baseURL := .Site.BaseURL }}
                        <div class="row">
                            {{ $.Scratch.Add "imageCount" 0}}
                            {{ range (where .Site.Pages "Section" "in" .Site.Params.sectionsInGallery) }}
                            {{ $permalink := .Permalink }}
                            {{ $dirname := .File.Dir }}
                            {{ $exname := .File.BaseFileName}}
                            {{ $title := .Title }}
                            {{ range .Params.images }}
                            {{ $.Scratch.Add "imageCount" 1 }}
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="thumbnail">
                                    <figure>
                                        <a href="{{ $permalink }}" target="_blank">
                                            <img src="{{ $baseURL }}{{ $dirname }}{{$exname}}/{{.}}" alt="{{.}}">
                                        </a>
                                        <figcaption>{{ $title }}</figcaption>
                                    </figure>
                                </div>
                            </div>
                            {{ if eq (mod ($.Scratch.Get "imageCount") 3) 0}}
                            <div class="clearfix visible-lg visible-md"></div>
                            {{ end }}
                            {{ end }}
                            {{ end }}

                        </div>
                    </div>
                </section>
            </div>
        </div>

        {{ partial "footer" . }}
    </div>
</body>

</html>
