<header id="header">
    <div class="outer">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-menu" aria-expanded="false">
          	                <span class="sr-only">Toggle navigation</span>
          	                <span class="icon-bar"></span>
          	                <span class="icon-bar"></span>
          	                <span class="icon-bar"></span>
          	            </button>
    		            <a class="navbar-brand" href="{{ .Site.BaseURL }}">
    			            <span class="site-title">{{ .Site.Title }}</span>
    		            </a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <!--navbar menu -->
                        {{ range .Site.Menus.main }}
                        <li class="nav-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                        <!-- navbar icons -->
                        {{ range .Site.Menus.icon }}
                        <li class="nav-item"><a href="{{ .URL }}"><i class="fa fa-{{ .Name }} fa-lg" aria-hidden="true"></i></a></li>
                        {{ end }}
                        <li><a href="{{ .Site.RSSLink }}"><i class="fa fa-rss-square fa-lg" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
